<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :head do %>
  <script>
    var SmartAnswer = SmartAnswer || {};
    SmartAnswer.AJAX_ENABLED = <%= ajax_enabled_for?(@presenter.name) %>;
  </script>
  <%= javascript_include_tag "application", defer: true %>
<% end %>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="js-replaceable" <% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
        <%= render partial: "content" %>
      </div>

      <div class="meta-wrapper">
        <%= render :partial => 'smartanswer_metadata' %>
      </div>
    </div>
    <% unless @presenter.started? %>
      <div class="govuk-related-items column-one-third">
        <div id="related-items"></div>
      </div>
    <% end %>
  </div>
</main>
